<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Graphique</title>
</head>
<body>
    <iframe title="resultatPowerBI" width="1140" height="541.25" src="https://app.powerbi.com/reportEmbed?reportId=919daff3-4fe1-49c8-9527-2d5786ec5cb6&autoAuth=true&ctid=373016f8-79a9-4eed-80d2-100ce948d960&config=eyJjbHVzdGVyVXJsIjoiaHR0cHM6Ly93YWJpLXdlc3QtZXVyb3BlLXJlZGlyZWN0LmFuYWx5c2lzLndpbmRvd3MubmV0LyJ9" frameborder="0" allowFullScreen="true"></iframe>
</body>
</html>